/* 
Theme Name:		 Blocksy-CDR
Theme URI:		 http://childtheme-generator.com/
Description:	 Blocksy-CDR is a child theme of Blocksy, created by ChildTheme-Generator.com
Author:			 P. H. Jatobá
Author URI:		 http://childtheme-generator.com/
Template:		 blocksy
Version:		 1.0.0
Text Domain:	 blocksy-cdr
*/


/*
    Add your custom styles here
*/

@font-face {
  font-family: 'Novecentowide-Bold';
  src: url('fonts/Novecentowide-Bold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Novecentowide-Bold.woff') format('woff'), url('fonts/Novecentowide-Bold.ttf')  format('truetype'), url('fonts/Novecentowide-Bold.svg#Novecentowide-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
	font-family: 'Novecentowide-Bold';
}
h1 {
    font-size: 56px;
}
h2 {
    font-size: 36px;
    text-align: center;
}

/* ENTIDADES */
.entidades_container {
	display: grid;
	grid-template-columns: 1fr;
}

.entidades_container > div {
	display: inline-grid;
	/*margin: 30px 0;*/
}
.entidades_container h3 {
	color: #333;
	font-size: 16px;
}
.entidades_logos_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 4em;
    padding: 10px 50px;
}

/* PODCASTS */

.podcasts_container > div > div, .featured_podcast_container > div > div {
    padding: 30px;
}
.featured_podcast_container h2 {
    flex-direction: row;
    display: inline-flex;
    width: 100%;
    margin-left:30px;
}

.podcasts_container {
    margin: auto;
    background: #93CD1A;
}
.podcasts_container h2 {
    font-size: 24px;
    text-align: left;
}
.podcasts_container h2 a {
    color: #333;
}
.podcast_video {
    flex-direction: row;
    align-items: center;
}
.podcast_audio {
    display: flex;
    align-items: center;
    flex-direction: inherit !important;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
@media (max-width:999px) {
   .column {
       display: flex;
       flex-direction: column;
       flex-basis: 100%;
   }
   .podcast_audio > div {
       margin: 0 auto;
   }
}

.podcast_single_audio, .podcast_single_video {
    margin: 30px;
}

#header-menu-2 {
	position: absolute;
	top: 40px;
}		
	
